h2 {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
  /*display: block;*/
}

.App-header {
  background-color: #000;
  /* height: 150px; */
  /* padding: 20px; */
  color: white;
}

.App-intro {
  font-size: large;
}

.headshot {
  display: block;
  margin: auto;
  height: auto;
  width: auto;
  width: 100%;
}

.techbio-container {
  margin-left: 10px;
  margin-right: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#header {
  /* background-image: url("./assets/images/wave.png"); */
  position: relative;
  text-align: center;
  margin-top: 0px;
  /* margin: auto; */
  /* display: block; */
  color: white;
  font-family: ForoSans-Regular;
}

#wave-image {
  width: 100%;
}

ul li{
  list-style-type: none;
  position: relative;
  right: 20px;
}

a{
  text-decoration: none;
  color: hsl(240,100%,0%);
}

#name-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#small-bio-box {
  display: block;
  margin: auto;
  width: 80%;
  font-family: ForoSans-Italic;
}

.repo-button {
  margin: 50px 0px;
}
